/Build/Behat/*
/Build/PhpCodesniffer/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/
/Data/
/Packages/Application
/Packages/Framework
/Packages/Inactive
/Packages/Libraries
/Packages/Plugins
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
